<div class="left-nav">
    <div id="side-nav">
        <ul id="nav">
            <li class="list">
                <!--<a href="javascript:;">-->
                    <!--<i class="iconfont">&#xe70b;</i>-->
                    <!--会员管理-->
                    <!--<i class="iconfont nav_right">&#xe6a6;</i>-->
                <!--</a>-->
                <!--<ul class="sub-menu">-->
                    <!--<li>-->
                        <!--<a href="{:url('admin/manager/index')}">-->
                            <!--<i class="iconfont">&#xe6a7;</i>-->
                            <!--会员列表-->
                        <!--</a>-->
                    <!--</li>-->
                    <!--<li>-->
                        <!--<a href="{:url('admin/order/index')}">-->
                            <!--<i class="iconfont">&#xe6a7;</i>-->
                            <!--积分管理-->
                        <!--</a>-->
                    <!--</li>-->
                <!--</ul>-->
                <a href="{:url('admin/manager/index')}">
                    <i class="iconfont">&#xe70b;</i>
                    企业审核管理界面
                    <i class="iconfont nav_right">&#xe6a7;</i>
                </a>
            </li>
            <li class="list">
                <a href="{:url('admin/order/index')}">
                    <i class="iconfont">&#xe70b;</i>
                    污泥运单管理界面
                    <i class="iconfont nav_right">&#xe6a6;</i>
                </a>
            </li>
        </ul>
    </div>
</div>
<script>
//    //初始化让列表展开
//    window.onload=function () {
//        var btn= $('.left-nav #nav li');
//        btn.addClass('open');
//        btn.find('.nav_right').html('&#xe6a6;');
//        btn.children('.sub-menu').slideDown();
//    }
</script>