<!doctype html>
<html lang="en">
{include file='public/header'/}
<body>
<div class="content">
    <!-- 右侧内容框架，更改从这里开始 -->
    <div class="yundan-title" style="padding-left: 20px;"><h1 style="color: red;letter-spacing: 28px;font-size: 30px;font-weight: bolder;font-family: serif;">运单审核</h1></div>
    <div class="yundan-content">
        <form id="yundan" >
            <table class="table table-responsive" border="10px">
                <thead>
                <tr>
                    <th colspan="1">污泥运单编号</th>
                    <th colspan="1">出产时间</th>
                    <th colspan="1">出产单位</th>
                    <th colspan="1">处置地</th>
                    <th colspan="1">污泥类型</th>
                    <th colspan="1">污泥量/现土壤容量（千基/t）</th>
                    <th colspan="1">距离（km）</th>
                    <th colspan="1">选择</th>
                </tr>
                </thead>
                <tbody style="text-align: center">
                <tr>
                    <td>{$content.yundanid}</td>
                    <td>2019.2.4</td>
                    <td>处理单位02</td>
                    <td>地块004</td>
                    <td>干化颗粒</td>
                    <td>0.5/1.3</td>
                    <td>31.4</td>
                    <td><input type="radio" name="check"></td>
                </tr>
                </tbody>
            </table>
            <div class="shenbao">
                <button id="savebtn" class="btn btn-info marginleft40" type="button">审核确认</button>
            </div>
        </form>
    </div>
    <!-- 右侧内容框架，更改从这里结束 -->
</div>
    <script>
        $("#savebtn").on('click',function () {
            alert("审核通过");
            var index = parent.layer.getFrameIndex(window.name);
            parent.layer.close(index);
        });
//        $(function () {
//            $("#savebtn").on('click',function () {
//                //表单使用ajax提交
//                $.ajax({
//                    type:'POST',
//                    url:"{:url('user1/save')}",//调用user1控制器的save方法
//                    data:$("#yundan").serialize(),//数据来源于表单，并对数据进行序列化,提交表单
//                    dataType:'json',//数据类型
//                    success:function (data) {
//                        if(data.status==1){
//                            alert(data.message);
//                            var index = parent.layer.getFrameIndex(window.name);
//                            parent.layer.close(index);
////                            window.location.href="{:url('user1/index_query')}";//成功加载user1控制器的index_query
//                        }else {
//                            alert(data.message);
//                            var index = parent.layer.getFrameIndex(window.name);
//                            parent.layer.close(index);
//                        }
//                    },
//                    error:function () {
//                        alert("服务器出错！");
//                    }
//                })
//            })
//        })
    </script>
</body>
</html>